<!-- START panel-->
<div class="panel panel-flat">
    <fieldset>
        <legend>
            <div class="panel-heading">
                <a href="#" class="btn btn-sm pull-right">
                    <em class="icon-close" (click)="closeWindow()"></em>
                </a>
                <h2 *ngIf="updatemode" class="text-center pv">{{updateLocationHeaderLabel}}</h2>
                <h2 *ngIf="createmode" class="text-center pv">{{addLocationHeaderLabel}}</h2>
            </div>
        </legend>
        <div class="panel-body">
            <div>
                <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
            </div>
            <p *ngIf="error">{{errorMessage}}</p>
            <form #locationForm="ngForm" class="form-validate form-horizontal mb-lg" role="form">
                <div *ngIf="!locationForm.form.valid" class="row">
                    <div class="col-md-12">
                        <label>{{pageMessage}}</label>
                    </div>
                </div>
                <!-- Location Name -->
                <div class="row">
                    <div class="col-md-6 required">
                        <label>{{locationNameLabel}}</label>
                        <input type="text" name="name" placeholder="{{locationNamePlaceholder}}" (keyup)="validateLocationName(name.value)" [(ngModel)]="location.name" required class="form-control" #name>
                    </div>
                    <div class="col-md-6 required">
                      <label>{{locationAddressLabel}}</label>
                      <input type="text" name="address" placeholder="{{locationAddressPlaceHolder}}" [(ngModel)]="location.address" required class="form-control" #address>
                    </div>
                </div>
                <!-- Location Address -->
                <div class="row">
                  <div class="col-md-6 required">
                    <div id="" *ngIf="!isLocationNameValid">{{locationNameErrorMsg}}</div>
                  </div>
                  <div class="col-md-6 required">
                    <div id="" *ngIf="!isLocationNameValid"></div>
                  </div>
                </div>
                <!-- Mobile Number -->
                <div class="row">
                    <div class="col-md-6 required">
                        <label>{{mobileNumberLabel}}</label>
                        <input type="text" name="mobileNumber" placeholder="{{mobileNumberPlaceHolderLabel}}" (blur)="validateMobileNumber(mobileNumber.value)" [(ngModel)]="location.mobileNumber" required class="form-control" #mobileNumber>
                    </div>
                    <div class="col-md-6 required">
                      <label>{{addressLabel}}</label>
                      <input type="text" name="Address" placeholder="{{addressPlaceHolderLabel}}" [(ngModel)]="location.address" required class="form-control" #Address>
                  </div>
                </div>
                <!-- Address -->
                <div class="row">
                    <div class="col-md-6 required">
                      <div id="" *ngIf="!isMobileNumberValid">{{mobileNumberErrorMsg}}</div>
                    </div>
                    <div>
                      <br>
                    </div>
                </div>
                <!-- City -->
                <div class="row">
                    <div class="col-md-6 required">
                        <label>{{cityLabel}}</label>
                        <input type="text" name="city" placeholder="{{cityPlaceHolderLabel}}"
                        [(ngModel)]="location.city" required class="form-control" #city>
                    </div>
                    <div class="col-md-6 required">
                      <label>{{stateLabel}}</label>
                      <input type="text" name="state" placeholder="{{statePlaceHolderLabel}}"
                      [(ngModel)]="location.state" required class="form-control" #city>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-9 col-md-3">
                        <button class="btn btn-block btn-success pull-right" [disabled]="!locationForm.form.valid" (click)="submit()">
                            <span *ngIf="updatemode">{{updatebuttonLabel}}</span>
                            <span *ngIf="createmode">{{addbuttonLabel}}</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </fieldset>
</div>
