<!-- START panel-->
<div class="panel panel-flat">
    <div class="panel-heading">
        <a href="#" class="btn btn-sm pull-right">
        <em class="icon-close" (click)="closeWindow()"></em>
        </a>
    </div>
    <div class="panel-body">
        <div>
            <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
        </div>
        <p *ngIf="error">{{errorMessage}}</p>
        <form #staffForm="ngForm" class="form-validate form-horizontal mb-lg" role="form">
            <fieldset>
                <legend>
                    <span *ngIf="updatemode">{{updateRecordButtonLabel}}</span>
                    <span *ngIf="createmode">{{addRecordButtonLabel}}</span>
                </legend>
                    <div class="row">
                    <div class="col-md-12">
                        <label>{{pageMessageLabel}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 required">
                        <label>{{firstNameLabel}}</label>
                        <input type="text" name="firstName" placeholder="{{firstNameplaceHolderLabel}}"
                        (blur)="validateFirstName(firstName.value)"
                        [(ngModel)]="staff.firstName" class="form-control" #firstName>
                    </div>
                    <div class="col-md-6 required">
                      <label>{{lastNameLabel}}</label>
                      <input type="text" name="lastName" placeholder="{{lastNameplaceHolderLabel}}"
                      (blur)="validateLastName(lastName.value)"
                      [(ngModel)]="staff.lastName" required class="form-control" #lastName>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 required">
                    <div id="" *ngIf="!isFirstNameValid">{{firstNameErrorMsg}}</div>
                  </div>
                  <div class="col-md-6 required">
                    <div id="" *ngIf="!isLastNameValid">{{lastNameErrorMsg}}</div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-6 required">
                        <label>{{emailIdLabel}}</label>
                        <input type="text" name="buckleId" placeholder="{{emailIdplaceHolderLabel}}"
                        (blur)="validateEmailId(buckleId.value)"
                        [(ngModel)]="staff.buckleId" required class="form-control" #buckleId>
                    </div>
                    <div class="col-md-6 required">
                      <label>{{mobileNumberLabel}}</label>
                      <input type="text" name="mobileNumber" placeholder="{{mobileNumberplaceHolderLabel}}"
                      (blur)="validateMobileNumber(mobileNumber.value)"
                      [(ngModel)]="staff.mobileNumber" class="form-control" #mobileNumber>
                    </div>

                </div>
                <div class="row">
                  <div class="col-md-6 required">
                    <div id="" *ngIf="!isEmailIdValid">{{emailIdErrorMsg}}</div>
                  </div>
                  <div class="col-md-6 required">
                    <div id="" *ngIf="!isMobileNumberValid">{{mobileNumberErrorMsg}}</div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-6 required">
                        <label>{{addressLabel}}</label>
                        <input type="text" name="address" placeholder="{{addressplaceHolderLabel}}"
                        [(ngModel)]="staff.address" class="form-control" #address>
                    </div>
                    <div class="col-md-6 required">
                      <label>{{cityLabel}}</label>
                      <input [ngModel]="staff.city" placeholder="{{cityplaceHolderLabel}}"
                          class="form-control scrollable-menu" name="stations" autocomplete="off" required>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-6 required">
                    <div id=""></div>
                  </div>
                  <div class="col-md-6 required">
                    <div id=""></div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-6 required">
                        <label>{{stateLabel}}</label>
                        <input type="text" name="state" placeholder="{{stateplaceHolderLabel}}"
                        [ngModel]="staff.state" class="form-control scrollable-menu" #state>
                    </div>
                    <div class="col-md-6 required">
                        <div id=""></div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-offset-9 col-md-3">
                    <button class="btn btn-block btn-success pull-right"
                      [disabled]="!staffForm.form.valid" (click)="submit()">
                        <span *ngIf="updatemode">{{updateButtonLabel}}</span>
                        <span *ngIf="createmode">{{addButtonLabel}}</span>
                    </button>
                  </div>
                </div>
            </fieldset>
          </form>
    </div>
</div>
